<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruiec.web.dao.ArticleAttachmentMapper">
  <resultMap id="BaseResultMap" type="com.ruiec.web.model.ArticleAttachment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, modify_time, article_id, name, url, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from ruiec_article_attachment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ruiec_article_attachment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ruiec.web.model.ArticleAttachment">
    insert into ruiec_article_attachment (id, create_time, modify_time, 
      article_id, name, url, 
      description)
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{articleId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ruiec.web.model.ArticleAttachment">
    insert into ruiec_article_attachment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="articleId != null">
        article_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruiec.web.model.ArticleAttachment">
    update ruiec_article_attachment
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleId != null">
        article_id = #{articleId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruiec.web.model.ArticleAttachment">
    update ruiec_article_attachment
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      article_id = #{articleId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- guozhiyong -->
  <sql id="Table_Name">
  	ruiec_article_attachment
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from
    <include refid="Table_Name" />
  </select>
  
  <select id="selectByPage" parameterType="com.ruiec.web.model.ArticleAttachment" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from
    <include refid="Table_Name" />
  </select>
    
  <select id="selectByParentId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM
    <include refid="Table_Name" />
    <if test="articleId == null">
    WHERE article_id IS null 
    </if>
    <if test="articleId != null">
    WHERE article_id = #{articleId,jdbcType=INTEGER}
    </if>
    ORDER BY id DESC
  </select>
  
  <delete id="deleteByPrimaryKeys">
    delete from
    <include refid="Table_Name" />
     where id in
  	 <foreach close=")" collection="array" index="index" item="item" open="(" separator=",">
     	#{item}
  	 </foreach> 
  </delete>
  <!-- /guozhiyong -->
  <!-- zgc  -->
  <select id="selectByArticleAttachment" parameterType="com.ruiec.web.model.ArticleAttachment" resultMap="BaseResultMap">
    select raa.*,a.title from ruiec_article_attachment raa
    left join ruiec_article a
    on raa.article_id=a.id
    <where>
    <if test="articleId != null">
    raa.article_id = #{articleId,jdbcType=INTEGER}
    </if>
    </where>
     ORDER BY id DESC
  </select>
  <!-- zgc  -->
</mapper>